body {
    background-color: var(--background-main);
}

.container__login {
    height: 390px;
    margin-bottom: 140px;
    margin-top: 60px;
    width: 423px;
}

.container__login_label, .container__login_form_group p, .container__register_label, .container__login_email, .container__login_pswd  {
    font-family: var(--Raleway);
}

.container__login_email, .container__login_pswd {
    height: 64px;
}

.container__login_form_group p:hover {
    color: var(--text-content-hover1);
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin-top: 13px;
}

.container__login_button:hover {
    background-color: var(--background-hover-button);
    border: 2px solid var(--text-content-hover1);
    color: var(--text-content-hover1);
    font-weight: bold;
}


/*MediaQuerie Aplicable para pantallas de Tablet Tipo IphoneX 375x812*/
@media screen and (min-width: 375px) and (max-device-width : 465px) {
    .container__login {
        padding: 10px !important;
        width: auto;
    }
}