body {
    background-color: var(--background-main);
    font-family: var(--Raleway);
}

.container__register {
    height: 590px;
    width: 423px;
}

.container__update_register_user {
    height: 630px;
    width: 423px;
}

.container__alerta_register {
    font-size: 15px;
}

.container__register_name, .container__register_last-name, .container__register_email, .container__register_pswd, .container__register_confirm-pswd {
    height: 55px;
}

.container__register_button, .container__cancel_button {
    font-size: 18.5px;
}

.container__register_button:hover {
    background-color: var(--background-hover-button);
    border: 2px solid var(--text-content-hover1);
    color: var(--text-content-hover1);
    font-weight: bold;
}

.container__cancel_button:hover {
    background-color: var(--background-hover-button3);
    border: 2px solid var(--text-content-hover3);
    color: var(--text-content-hover3);
    font-weight: bold;
}


/*MediaQuerie Aplicable para pantallas de Tablet Tipo Ipad 768x1024*/
@media screen and (max-width:768px) {
    .container__register {
        height: 570px;
    }
}

