<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bases.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/admin_products.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/footer.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <title>.: Admin Profile | Shop Alura Geek :.</title>
</head>
<body>
    <header>
        <nav class="nav__bar">
            <div class="nav__bar_marca">
                <img src="{{ url_for('static', filename = 'imgs/Logo.png') }}" alt="Logo Alura Geek Shop" class="nav__bar_img-logo">
                <input type="text" placeholder=" ¿Qué deseas buscar?" class="form-control nav__bar_search">
            </div>
            <div class="header__menu">
                <div class="header__menu--profile">
                    <p>{{user.name}} {{user.last_name}}</p>
                    <img src="{{ url_for('static', filename = 'imgs/user_icon.png') }}" alt="Logo perfil usuario">
                </div>
                <ul>
                    <li><a href="/update_user">Cuenta</a></li>
                    <li><a href="/logout">Cerrar Sesión</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="main__admin-products">
        <section class="container">
            <div class="d-flex justify-content-between align-items-center container__table-principal">
                <p class="">Productos Favoritos Vigentes</p>
                <a href="/products/add" class="btn btn-success">Añadir nuevo Producto</a>
            </div>
            <table class="table table-hover mt-3">
                <thead>
                    <tr class="table__favorite_products_headers">
                        <th>Nombre Producto</th>
                        <th>Imagen</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Fecha caducidad Publicación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            {% if product.favorite == 1 %}
                                {% if product.publication_expiration > product.time_validator() %}
                                    <td>{{product.name_prod}}</td>
                                    <td><img src="{{product.url_img}}" alt="imagen producto" class="table__product_image"></td>
                                    <td class="table__product_description">{{product.description}}</td>
                                    <td class="text-center">{{"${:,.2f}".format(product.price_prod|float)}}</td>
                                    <td class="text-center">{{product.publication_expiration.strftime('%d-%m-%Y')}}</td>
                                    <td>
                                        <a href="/edit/product/{{product.id}}" class="btn btn-warning">Editar</a> |
                                        <a href="/delete/product/{{product.id}}" class="btn btn-danger">Borrar</a>
                                    </td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <br>
            <br>
            <table class="table table-hover table__general_products">
                <thead>
                    <h4 class="text-left">Productos Generales Vigentes</h4>
                    <tr class="table__favorite_products_headers">
                        <th>Nombre Producto</th>
                        <th>Imagen</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Fecha caducidad Publicación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            {% if product.favorite == 0 %}
                                {% if product.publication_expiration > product.time_validator() %}
                                    <td>{{product.name_prod}}</td>
                                    <td><img src="{{product.url_img}}" alt="imagen producto" class="table__product_image"></td>
                                    <td class="table__product_description">{{product.description}}</td>
                                    <td class="text-center">{{"${:,.2f}".format(product.price_prod|float)}}</td>
                                    <td class="text-center">{{product.publication_expiration.strftime('%d-%m-%Y')}}</td>
                                    <td>
                                        <a href="/edit/product/{{product.id}}" class="btn btn-warning">Editar</a> |
                                        <a href="/delete/product/{{product.id}}" class="btn btn-danger">Borrar</a>
                                    </td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <br>
            <br>
            <table class="table table-hover table__past_products mt-4">
                <h4>Publicaciones Expiradas</h4>
                <thead>
                    <tr class="table__past_products_headers">
                        <th>Nombre Producto</th>
                        <th>Foto Producto</th>
                        <th>Precio</th>
                        <th>Fecha que expiro la Publicación</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr class="table-active">
                            {% if product.publication_expiration < product.time_validator() %}
                                <td>{{product.name_prod}}</td>
                                <td><img src="{{product.url_img}}" alt="imagen producto" class="table__product_image"></td>
                                <td>{{"${:,.2f}".format(product.price_prod|float)}}</td>
                                <td class="text-center">{{product.publication_expiration.strftime('%d-%m-%Y')}}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
    <footer>
        <div class="footer__container_elements">
            <div class="footer__elements_logo">
                <img src="{{ url_for('static', filename = 'imgs/Logo.png') }}" alt="Logo Alura Geek Shop" class="">
            </div>
            <div class="footer__elements_faq">
                <a href="#">Quienes somos</a>
                <a href="#">Política de privacidad</a>
                <a href="#">Programa de fidelidad</a>
                <a href="#">Nuestras Tiendas</a>
                <a href="#">Quiero ser franquiciado</a>
                <a href="#">Anúncie aquí</a>
            </div>
            <div class="form-group mb-3 footer__elements_contact_us">
                <label for="name_person" class="footer__label_contact_us mb-2">Hable con nosotros</label>
                <input type="text" name="name_person" id="name_person" placeholder="Nombre" class="form-control form-control-lg mb-3 footer__input_contact_us">
                <textarea name="message" id="message" rows="3" placeholder="Escribe tu mensaje" class="form-control form-control-lg mb-2 footer__textarea_contact_us"></textarea>
                <input type="submit" value="Enviar mensaje" class="btn btn-primary footer__button_contact_us">
            </div>
        </div>
        <div class="footer__created_by">
            <a href="https://github.com/jcardonamde" target="_blank" rel="noopener noreferrer">Develop by: Jcardonamde.</a><br>
            <p>2022</p>
        </div>
    </footer>
</body>
</html>