<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bases.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/home/header.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/home/home.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/home/footer.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500;600;700;800;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>.: Shop Alura Geek :.</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'imgs/favicon.ico') }}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg mb-1 p-4" id="navbar">
            <div class="container-fluid">
                <a class="navbar-brand ms-5" href="/"><img src="{{ url_for('static', filename = 'imgs/Logo.png') }}" alt="Logo Alura Geek Shop"/></a>
                <button class="navbar-toggler nabvar-togler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <form class="d-flex" role="search">
                            <input class="form-control nav__bar_search-home" type="search" placeholder=" ¿Qué deseas buscar?"/>
                        </form>
                    </ul>
                    <form class="d-flex" role="search">
                        <a href="/login_user" class="btn btn-outline-primary btn-lg me-5 p-2 nav__bar_login-button">Login</a>
                    </form>
                </div>
            </div>
        </nav>
        <div id="myCarousel" class="carousel slide position-relative" data-ride="carousel" data-bs-ride="true" data-interval="3000">
            <div class="carousel-indicators"> 
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active position-relative">
                    <img src="{{ url_for('static', filename = 'imgs/banners/banner_home100.jpg') }}" class="d-block w-100 img-fluid banner__img-slider" alt="imagen banner hongo mario bross">
                    <div class="position-absolute banner__ppal_description1">
                        <h1 class="w-50 fs-1 fw-bold banner__ppal_description-text1">Septiembre Promocional</h1>
                        <p class=" mt-2 fs-5 fw-bold banner__ppal_description-text1">Productos seleccionados con 33% de descuento</p>
                        <a href="#vg_console" class="btn btn-primary text-center btn__banner_ppal_1">Ver Consolas</a>
                        <a href="#vg_console" class="btn btn-primary text-center position-absolute start-0 translate-middle-y btn__banner_secondary_1 ">Ver Consolas en Descuento</a>
                    </div>
                </div>
                <div class="carousel-item position-relative">
                    <img src="{{ url_for('static', filename = 'imgs/banners/banner_home200.jpg') }}" class="d-block w-100 img-fluid banner__img-slider" alt="imagen banner star wars">
                    <div class="position-absolute top-50 banner__ppal_description2">
                        <h1 class="fs-1 fw-700 banner__ppal_description-text2">Elige tu lado</h1>
                        <p class="mt-2 fs-5 fw-bold banner__ppal_description-text2">Despierta la fuerza en tu interior</p>
                        <a href="#star_wars" class="btn btn-outline-light text-center btn__banner_ppal_2">Únete</a>
                        <a href="#star_wars" class="btn btn-primary text-center position-absolute bottom-0 btn__banner_secondary_2">Únete y elige tu lado</a>
                    </div>
                </div>
                <div class="carousel-item position-relative">
                    <img src="{{ url_for('static', filename = 'imgs/banners/banner_home300.jpg') }}" class="d-block w-100 img-fluid banner__img-slider" alt="imagen banner superheroes marvel">
                    <div class="position-absolute top-0 start-50 d-flex flex-row justify-content-start align-items-center w-auto mt-2">
                        <h1 class="w-100 text-center fs-5 banner__ppal_description-text3">¿Te gustan los superhéroes?<br> Descubre lo más exclusivo</h1>
                        <a href="#various" class="btn btn-outline-warning text-center btn__banner_ppal_3">Ingresando Aquí</a>
                        <a href="#various" class="btn btn-primary text-center position-absolute start-50 translate-middle-x btn__banner_secondary_3">Tus superhéroes favoritos estan aquí</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="section__home">
            <section class="w-75 mt-5 section__container_category">
                <div class="d-flex flex-row justify-content-between section__title_category" id="star_wars">
                    <h3 class="fw-bold">Star Wars</h3>
                    <div class="d-flex flex-row justify-content-evenly align-items-center section__see_category">
                        <p class="fw-bold mt-3 me-1">Ver todo</p>
                        <img src="/static/imgs/row_right.png" alt="ver toda la categoria"
                            class="section__see_category-row" />
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between section__products_category">
                    <div class="section__products_product-description">
                        <img src="/static/imgs/products_categories/star-wars1.png" alt="producto star wars 1" />
                        <p class="section__product_name">Mug SW Coleccionable</p>
                        <p class="section__product_price">$ 60.00</p>
                        <a href="/view/product" class="section__product_see-product">Ver producto</a>
                    </div>
                    <div class="section__products_product-description">
                        <img src="/static/imgs/products_categories/star-wars2.jpg" alt="producto star wars 2" />
                        <p class="section__product_name">Darth Vader Duo</p>
                        <p class="section__product_price">$ 60.00</p>
                        <a href="/view/product" class="section__product_see-product">Ver producto</a>
                    </div>
                    <div class="section__products_product-description hidde-product-smph">
                        <img src="/static/imgs/products_categories/star-wars3.jpg" alt="producto star wars 3" />
                        <p class="section__product_name">Figura Maestro Yoda</p>
                        <p class="section__product_price">$ 60.00</p>
                        <a href="/view/product" class="section__product_see-product">Ver producto</a>
                    </div>
                    <div class="section__products_product-description hidde-product-smph">
                        <img src="/static/imgs/products_categories/star-wars4.jpg" alt="producto star wars 4" />
                        <p class="section__product_name">Soldado Imperial SW</p>
                        <p class="section__product_price">$ 60.00</p>
                        <a href="/view/product" class="section__product_see-product">Ver producto</a>
                    </div>
                    <div class="section__products_product-description hidde-product">
                        <img src="https://images.unsplash.com/photo-1601814933824-fd0b574dd592?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=812&q=80"
                            alt="producto star wars 5" />
                        <p class="section__product_name">Mini Yoda SW</p>
                        <p class="section__product_price">$ 60.00</p>
                        <a href="/view/product" class="section__product_see-product">Ver producto</a>
                    </div>
                    <div class="section__products_product-description hidde-product">
                        <img src="https://images.unsplash.com/photo-1591927675938-b81b071d3e91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                            alt="producto star wars 6" />
                        <p class="section__product_name">Figura Kylo Ren</p>
                        <p class="section__product_price">$ 60.00</p>
                        <a href="/view/product" class="section__product_see-product">Ver producto</a>
                    </div>
                </div>
            </section>
            <section class="w-75 mt-5 section__container_category">
                <div class="d-flex flex-row justify-content-between section__title_category" id="vg_console">
                    <h3 class="fw-bold">Consolas</h3>
                    <div class="d-flex flex-row justify-content-evenly align-items-center section__see_category">
                        <p class="fw-bold mt-3 me-1">Ver todo</p>
                        <img src="/static/imgs/row_right.png" alt="ver toda la categoria"
                            class="section__see_category-row" />
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between section__products_category">
                    <div class="section__products_product-description">
                        <img src="/static/imgs/products_categories/consola1.png" alt="producto consolas 1" />
                        <p class="section__product_name">Control Xbox</p>
                        <p class="section__product_price">$ 60.00</p>
                        <a href="/view/product" class="section__product_see-product">Ver producto</a>
                    </div>
                    <div class="section__products_product-description">
                        <img src="/static/imgs/products_categories/consola2.jpg" alt="producto consolas 2" />
                        <p class="section__product_name">Play Station 5</p>
                        <p class="section__product_price">$ 60.00</p>
                        <a href="/view/product" class="section__product_see-product">Ver producto</a>
                    </div>
                    <div class="section__products_product-description hidde-product-smph">
                        <img src="https://images.unsplash.com/photo-1533702165324-66678e2069b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                            alt="producto consolas 3" />
                        <p class="section__product_name">Nintendo NES Retro</p>
                        <p class="section__product_price">$ 60.00</p>
                        <a href="/view/product" class="section__product_see-product">Ver producto</a>
                    </div>
                    <div class="section__products_product-description hidde-product-smph">
                        <img src="https://images.unsplash.com/photo-1617096200347-cb04ae810b1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                            alt="producto consolas 4" />
                        <p class="section__product_name">Control Nintendo Switch</p>
                        <p class="section__product_price">$ 60.00</p>
                        <a href="/view/product" class="section__product_see-product">Ver producto</a>
                    </div>
                    <div class="section__products_product-description hidde-product">
                        <img src="/static/imgs/products_categories/consola5.jpg" alt="producto consolas 5" />
                        <p class="section__product_name">Xbox Series X | S</p>
                        <p class="section__product_price">$ 60.00</p>
                        <a href="/view/product" class="section__product_see-product">Ver producto</a>
                    </div>
                    <div class="section__products_product-description hidde-product">
                        <img src="https://images.unsplash.com/photo-1577583113753-ca7e95d1bdc6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                            alt="producto consolas 6" />
                        <p class="section__product_name">Game Boy Color XYZ</p>
                        <p class="section__product_price">$ 60.00</p>
                        <a href="/view/product" class="section__product_see-product">Ver producto</a>
                    </div>
                </div>
            </section>
            <section class="w-75 mt-5 section__container_category">
                <div class="d-flex flex-row justify-content-between section__title_category" id="various">
                    <h3 class="fw-bold">Diversos</h3>
                    <div class="d-flex flex-row justify-content-evenly align-items-center section__see_category">
                        <p class="fw-bold mt-3 me-1">Ver todo</p>
                        <img src="/static/imgs/row_right.png" alt="ver toda la categoria"
                            class="section__see_category-row" />
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between section__products_category">
                    <div class="section__products_product-description">
                        <img src="https://images.unsplash.com/photo-1589021818993-a1223f8f0f04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=745&q=80"
                            alt="producto geek 1" />
                        <p class="section__product_name">Camisa Atari</p>
                        <p class="section__product_price">$ 60.00</p>
                        <a href="/view/product" class="section__product_see-product">Ver producto</a>
                    </div>
                    <div class="section__products_product-description">
                        <img src="https://images.unsplash.com/photo-1554410637-1a8267402b57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                            alt="producto geek 2" />
                        <p class="section__product_name">Camisa SNES</p>
                        <p class="section__product_price">$ 60.00</p>
                        <a href="/view/product" class="section__product_see-product">Ver producto</a>
                    </div>
                    <div class="section__products_product-description hidde-product-smph">
                        <img src="/static/imgs/products_categories/diversos3.png" alt="producto geek 3" />
                        <p class="section__product_name">Figura Sony Especial E.</p>
                        <p class="section__product_price">$ 60.00</p>
                        <a href="/view/product" class="section__product_see-product">Ver producto</a>
                    </div>
                    <div class="section__products_product-description hidde-product-smph">
                        <img src="https://images.unsplash.com/photo-1611946258523-9c2bfabb94e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=771&q=80"
                            alt="producto geek 4" />
                        <p class="section__product_name">Radio Retro XYZ</p>
                        <p class="section__product_price">$ 60.00</p>
                        <a href="/view/product" class="section__product_see-product">Ver producto</a>
                    </div>
                    <div class="section__products_product-description hidde-product">
                        <img src="/static/imgs/products_categories/diversos5.jpg" alt="producto geek 5" />
                        <p class="section__product_name">Pack VR XYZ</p>
                        <p class="section__product_price">$ 60.00</p>
                        <a href="/view/product" class="section__product_see-product">Ver producto</a>
                    </div>
                    <div class="section__products_product-description hidde-product">
                        <img src="https://images.unsplash.com/photo-1609372332255-611485350f25?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                            alt="producto geek 6" />
                        <p class="section__product_name">Pikachu Inflable</p>
                        <p class="section__product_price">$ 60.00</p>
                        <a href="/view/product" class="section__product_see-product">Ver producto</a>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <footer class="d-flex flex-column footer">
        <div class="justify-content-around w-100 footer__container_elements">
            <div class="mt-5 footer__elements_logo">
                <a class="navbar-brand ms-5" href="#navbar"><img src="{{ url_for('static', filename = 'imgs/Logo.png') }}" alt="Logo Alura Geek Shop"/></a>
            </div>
            <div class="d-flex flex-column mt-5 footer__elements_faq">
                <a href="#">Quienes somos</a>
                <a href="#">Política de privacidad</a>
                <a href="#">Programa de fidelidad</a>
                <a href="#">Nuestras Tiendas</a>
                <a href="#">Quiero ser franquiciado</a>
                <a href="#">Anúncie aquí</a>
            </div>
            <div class="form-group mb-3 mt-5 footer__elements_contact_us">
                <label for="name_person" class="fw-bold mb-2 footer__label_contact_us">Hable con nosotros</label>
                <input type="text" name="name_person" id="name_person" placeholder="Nombre"
                    class="form-control form-control-lg mb-3 fs-6 footer__input_contact_us"/>
                <textarea name="message" id="message" rows="3" placeholder="Escribe tu mensaje"
                    class="form-control form-control-lg mb-2 fs-6 footer__textarea_contact_us"></textarea>
                <input type="submit" value="Enviar mensaje" class="btn btn-primary text-center footer__button_contact_us" />
            </div>
        </div>
        <div class="d-flex flex-column align-items-center footer__created_by">
            <a href="https://github.com/jcardonamde" target="_blank" rel="noopener noreferrer" class="fw-600 mt-3">Develop by:
                Jcardonamde.</a><br />
            <p class="fw-bold">2022</p>
        </div>
    </footer>
    <div class="d-flex justify-content-between align-items-center w-100 cookie">
        <img class="cookie__alert" src="{{ url_for('static', filename = 'imgs/cookie_icon.png') }}" alt="logo de alerta para cookies" />
        <div class="cookie__text">
            <p class="text-center fw-700 w-auto">Utilizamos cookies propias y de terceros para mejorar nuestros servicios. Si continúa con la navegación, consideraremos que acepta este uso. Puedes obtener más información en nuestra <a href="#" class="fw-bold">Política de Cookies.</a></p>
        </div> 
        <button class="btn btn-dark cookie__button" onclick="acceptAction()">Aceptar</button>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.3.js" integrity="sha256-goy7ystDD5xbXSf+kwL4eV6zOPJCEBD1FBiCElIm+U8=" crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='/js/index.js') }}"></script>
</body>
</html>