<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bases.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/login_user.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/footer.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <title>.: Log in | Shop Alura Geek :.</title>
</head>
<body>
    <header>
        <nav class="nav__bar">
            <div class="nav__bar_marca">
                <img src="{{ url_for('static', filename = 'imgs/Logo.png') }}" alt="Logo Alura Geek Shop" class="nav__bar_img-logo">
                <input type="text" placeholder=" ¿Qué deseas buscar?" class="form-control nav__bar_search">
            </div>
            <div>
                <a href="/home">
                    <img src="/static/imgs/home_icon.png" alt="icono de regreso al home" class="nav__bar_logo_home">
                </a>
            </div>
        </nav>
    </header>
    <main>
        <div class="container col-5 container__login">
            <h4 class="container__login_label mt-2">Iniciar Sesión</h4>
            <div id="mensajeAlertaLogin" class="container__alerta_login"></div>
            <form action="/login" method="post" class="container__login_form" id="formLogin">
                <div class="from-group container__login_form_group">
                    <input type="text" name="email" id="email_login" placeholder="Escriba su correo electrónico" class="form-control container__login_email">
                    <input type="password" name="password" id="user_password" placeholder="Escriba su contraseña" class="form-control container__login_pswd">
                    <p>¿Olvidaste tu contraseña?</p>
                </div>
                <input type="submit" value="Entrar" class="btn btn-primary btn-lg container__login_button">
            </form>
            <div class="container__register_form mt-4 ">
                <div class="from-group container__register_form_group">
                    <label for="register_button" class="container__register_label">¿Aún no tienes cuenta en Shop Alura Geek?</label>
                    <a href="/register" class="btn btn-outline-primary btn-lg container__register_button">Crear cuenta</a>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer__container_elements">
            <div class="footer__elements_logo">
                <img src="{{ url_for('static', filename = 'imgs/Logo.png') }}" alt="Logo Alura Geek Shop" class="">
            </div>
            <div class="footer__elements_faq">
                <a href="#">Quienes somos</a>
                <a href="#">Política de privacidad</a>
                <a href="#">Programa de fidelidad</a>
                <a href="#">Nuestras Tiendas</a>
                <a href="#">Quiero ser franquiciado</a>
                <a href="#">Anúncie aquí</a>
            </div>
            <div class="form-group mb-3 footer__elements_contact_us">
                <label for="name_person" class="footer__label_contact_us mb-2">Hable con nosotros</label>
                <input type="text" name="name_person" id="name_person" placeholder="Nombre" class="form-control form-control-lg mb-3 footer__input_contact_us">
                <textarea name="message" id="message" rows="3" placeholder="Escribe tu mensaje" class="form-control form-control-lg mb-2 footer__textarea_contact_us"></textarea>
                <input type="submit" value="Enviar mensaje" class="btn btn-primary footer__button_contact_us">
            </div>
        </div>
        <div class="footer__created_by">
            <a href="https://github.com/jcardonamde" target="_blank" rel="noopener noreferrer">Develop by: Jcardonamde.</a><br>
            <p>2022</p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='/js/loginUser.js') }}"></script>
</body>
</html>