<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bases.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/register_user.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/footer.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <title>.: Profile | Shop Alura Geek :.</title>
</head>
<body>
    <header>
        <nav class="nav__bar">
            <div class="nav__bar_marca">
                <img src="{{ url_for('static', filename = 'imgs/Logo.png') }}" alt="Logo Alura Geek Shop" class="nav__bar_img-logo">
                <input type="text" placeholder=" ¿Qué deseas buscar?" class="form-control nav__bar_search">
            </div>
            <div class="header__menu">
                <div class="header__menu--profile">
                    <p>{{user.name}} {{user.last_name}}</p>
                    <img src="{{ url_for('static', filename = 'imgs/user_icon.png') }}" alt="Logo perfil usuario">
                </div>
                <ul>
                    <li><a href="/admin_products">Productos</a></li>
                    <li><a href="/logout">Cerrar Sesión</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container p-1 col-5 container__register">
            <h4 class="container__register_label mt-2">Tu Perfil</h4>
            <div id="mensajeAlertaUpdateRegister" class="container__alerta_register"></div>
            <form action="/update/user" method="post" class="container__register_form" id="formUpdateRegister">
                <input type="hidden" name="user_id" value="{{user.id}}">
                <div class="form-group ">
                    <input type="text" name="name" id="name" placeholder="Ingrese su Nombre" class="form-control container__register_name" value="{{user.name}}">
                </div>
                <div class="form-group ">
                    <input type="text" name="last_name" id="last_name" placeholder="Ingrese sus Apellidos" class="form-control container__register_last-name" value="{{user.last_name}}">
                </div>
                <div class="form-group ">
                    <input type="email" name="email" id="email" placeholder="Ingrese un E-mail" class="form-control container__register_email" value="{{user.email}}">
                </div>
                <div class="form-group ">
                    <input type="password" name="password" id="password" placeholder="Actualice su contraseña" class="form-control container__register_pswd">
                </div>
                <div class="form-group ">
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirmar su Contraseña" class="form-control container__register_confirm-pswd">
                </div>
                <input type="submit" value="Actualizar" class="btn btn-primary btn-lg container__register_button">
            </form>
            <a href="/admin_products" class="btn btn-danger container__cancel_button">Cancelar</a>
        </div>
    </main>
    <footer>
        <div class="footer__container_elements">
            <div class="footer__elements_logo">
                <img src="{{ url_for('static', filename = 'imgs/Logo.png') }}" alt="Logo Alura Geek Shop" class="">
            </div>
            <div class="footer__elements_faq">
                <a href="#">Quienes somos</a>
                <a href="#">Política de privacidad</a>
                <a href="#">Programa de fidelidad</a>
                <a href="#">Nuestras Tiendas</a>
                <a href="#">Quiero ser franquiciado</a>
                <a href="#">Anúncie aquí</a>
            </div>
            <div class="form-group mb-3 footer__elements_contact_us">
                <label for="name_person" class="footer__label_contact_us mb-2">Hable con nosotros</label>
                <input type="text" name="name_person" id="name_person" placeholder="Nombre" class="form-control form-control-lg mb-3 footer__input_contact_us">
                <textarea name="message" id="message" rows="3" placeholder="Escribe tu mensaje" class="form-control form-control-lg mb-2 footer__textarea_contact_us"></textarea>
                <input type="submit" value="Enviar mensaje" class="btn btn-primary footer__button_contact_us">
            </div>
        </div>
        <div class="footer__created_by">
            <a href="https://github.com/jcardonamde" target="_blank" rel="noopener noreferrer">Develop by: Jcardonamde.</a><br>
            <p>2022</p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='/js/editUser.js') }}"></script>
</body>
</html>