<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bases.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/home/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/products/view_products.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/home/footer.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>.: View Products | Shop Alura Geek :.</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'imgs/favicon.ico') }}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg mb-1 p-4 bg-white" id="navbar">
            <div class="container-fluid">
                <a class="navbar-brand ms-5" href="/"><img src="{{ url_for('static', filename = 'imgs/Logo.png') }}" alt="Logo Alura Geek Shop"/></a>
                <button class="navbar-toggler nabvar-togler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <form class="d-flex" role="search">
                            <input class="form-control nav__bar_search-home" type="search" placeholder=" ¿Qué deseas buscar?"/>
                        </form>
                    </ul>
                    <a href="/home">
                        <img src="/static/imgs/home_icon.png" alt="icono de regreso al home" class="nav__bar_logo_home">
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="container d-flex flex-column align-items-center mt-5 mb-5">
            <div class="container d-flex flex-row justify-content-evenly mt-3 mb-5 container__view_product">
                <img src="https://images.unsplash.com/photo-1595309959777-08d5da891d7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1343&q=80" alt="imagen de stock del producto" class="w-50 container__view_product-img">
                <div class="container justify-content-center align-items-center w-50 container__view_product-description">
                    <h4 class="fs-1 fw-semibold">Producto XYZ</h4>
                    <p class="container__view_product-description-price">$60.00</p>
                    <p class="fs-6 container__view_product-description-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut natus obcaecati totam adipisci voluptatibus, neque minima voluptates dolore ipsam provident magni ullam, repellendus delectus? Id dignissimos ipsum cupiditate, optio iure asperiores! Sapiente itaque esse pariatur, recusandae quam consequuntur perferendis quas, sequi illum quos corrupti enim, quo beatae! Doloremque, delectus culpa.</p>
                </div>
            </div>
            <div class="d-flex justify-content-start mt-3 mb-2 section__title_category2">
                <h3 class="fw-bold">Productos similares</h3>
            </div>
            <div class="d-flex flex-row justify-content-between mb-4 section__products_category">
                <div class="section__products_product-description">
                    <img src="/static/imgs/products_categories/consola1.png" alt="producto star wars 1" />
                    <p class="section__product_name">Producto XYZ</p>
                    <p class="section__product_price">$ 60.00</p>
                    <a href="/view/product" class="section__product_see-product">Ver producto</a>
                </div>
                <div class="section__products_product-description">
                    <img src="/static/imgs/products_categories/star-wars2.jpg" alt="producto star wars 2" />
                    <p class="section__product_name">Producto XYZ</p>
                    <p class="section__product_price">$ 60.00</p>
                    <a href="/view/product" class="section__product_see-product">Ver producto</a>
                </div>
                <div class="section__products_product-description hidde-product2">
                    <img src="/static/imgs/products_categories/star-wars3.jpg" alt="producto star wars 3" />
                    <p class="section__product_name">Producto XYZ</p>
                    <p class="section__product_price">$ 60.00</p>
                    <a href="/view/product" class="section__product_see-product">Ver producto</a>
                </div>
                <div class="section__products_product-description hidde-product2">
                    <img src="/static/imgs/products_categories/star-wars4.jpg" alt="producto star wars 4" />
                    <p class="section__product_name">Producto XYZ</p>
                    <p class="section__product_price">$ 60.00</p>
                    <a href="/view/product" class="section__product_see-product">Ver producto</a>
                </div>
                <div class="section__products_product-description hidde-product">
                    <img src="https://images.unsplash.com/photo-1601814933824-fd0b574dd592?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=812&q=80"
                        alt="producto star wars 5" />
                    <p class="section__product_name">Producto XYZ</p>
                    <p class="section__product_price">$ 60.00</p>
                    <a href="/view/product" class="section__product_see-product">Ver producto</a>
                </div>
                <div class="section__products_product-description hidde-product">
                    <img src="https://images.unsplash.com/photo-1591927675938-b81b071d3e91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                        alt="producto star wars 6" />
                    <p class="section__product_name">Producto XYZ</p>
                    <p class="section__product_price">$ 60.00</p>
                    <a href="/view/product" class="section__product_see-product">Ver producto</a>
                </div>
            </div>
        </section>
    </main>
    <footer class="d-flex flex-column footer">
        <div class="justify-content-around w-100 footer__container_elements">
            <div class="mt-5 footer__elements_logo">
                <a class="navbar-brand ms-5" href="#navbar"><img src="{{ url_for('static', filename = 'imgs/Logo.png') }}" alt="Logo Alura Geek Shop"/></a>
            </div>
            <div class="d-flex flex-column mt-5 footer__elements_faq">
                <a href="#">Quienes somos</a>
                <a href="#">Política de privacidad</a>
                <a href="#">Programa de fidelidad</a>
                <a href="#">Nuestras Tiendas</a>
                <a href="#">Quiero ser franquiciado</a>
                <a href="#">Anúncie aquí</a>
            </div>
            <div class="form-group mb-3 mt-5 footer__elements_contact_us">
                <label for="name_person" class="fw-bold mb-2 footer__label_contact_us">Hable con nosotros</label>
                <input type="text" name="name_person" id="name_person" placeholder="Nombre"
                    class="form-control form-control-lg mb-3 fs-6 footer__input_contact_us"/>
                <textarea name="message" id="message" rows="3" placeholder="Escribe tu mensaje"
                    class="form-control form-control-lg mb-2 fs-6 footer__textarea_contact_us"></textarea>
                <input type="submit" value="Enviar mensaje" class="btn btn-primary text-center footer__button_contact_us" />
            </div>
        </div>
        <div class="d-flex flex-column align-items-center footer__created_by">
            <a href="https://github.com/jcardonamde" target="_blank" rel="noopener noreferrer" class="fw-600 mt-3">Develop by:
                Jcardonamde.</a><br />
            <p class="fw-bold">2022</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.1.3.js" integrity="sha256-goy7ystDD5xbXSf+kwL4eV6zOPJCEBD1FBiCElIm+U8=" crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>