footer {
    font-family: var(--Raleway);
    z-index: 2;
}

.footer__container_elements {
    display: flex;
    flex-direction: row;
    background-color: var(--background-content);
    height: 380px;
}

.footer__elements_logo img {
    height: 80px;
    margin-left: 120px;
    object-fit: contain;
    width: 176px;
}

.footer__elements_faq a {
    color: var(--text-content-footer);
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
    text-decoration: none;
}

.footer__elements_faq a:hover {
    color: var(--text-content-hover1);
    font-weight: 600;
}

.footer__elements_contact_us {
    margin-right: 120px;
    width: 565px;
}   

.footer__label_contact_us {
    color: var(--text-content-footer);
}

.footer__textarea_contact_us {
    resize: none;
}

.footer__button_contact_us {
    border-radius: 0;
    height: 50px;
    padding: 10px;
    width: 130px;
}

.footer__button_contact_us:hover {
    background-color: var(--background-hover-button);
    border: 2px solid var(--text-content-hover1);
    color: var(--text-content-hover1);
    font-weight: 500;
}

.footer__created_by {
    background-color: var(--background-footer);
    height: 80px;
}

.footer__created_by a {
    color: var(--text-content-footer);
    font-size: 16px;
    text-decoration: none;
}

.footer__created_by a:hover {
    color: var(--text-content-hover2);
}

.footer__created_by p {
    font-size: 16px;
    margin-top: -25px;
}


/*MediaQuerie Aplicable para pantallas de Tablet Tipo Ipad 768x1024*/
@media screen and (max-width:768px) {
    .footer__container_elements {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 440px;
    }
    
    .footer__elements_logo {
        margin: 0 !important;
    }

    .footer__elements_logo img {
        margin: 40px 0 0 0;
    }

    .footer__elements_faq {
        margin: 0 0 80px 50px !important;
        width: 35%;
    }

    .footer__elements_contact_us {
        margin-bottom: 150px !important;
        width: 52%;
    }
}


/*MediaQuerie Aplicable para pantallas de Tablet Tipo IphoneX 375x812*/
@media screen and (min-width: 375px) and (max-device-width : 465px) {
    .footer__container_elements {
        display: flex;
        flex-direction: column;
        height: 700px;
        margin: 0;
        flex-wrap: nowrap;
        align-items: center !important;
    }

    .footer__elements_logo {
        width: 100%;
    }

    .footer__elements_faq {
        align-items: center;
        width: 50%;
        margin: 20px 20px !important;
    }

    .footer__elements_contact_us {
        width: 100%;
        margin-top: 20px !important
    }

}