/* Styles Containers products for Home */
.section__container_category {
    margin: 60px 12.5%;
}

.section__title_category {
    height: 40px;
    margin-bottom: 10px;
}

.section__title_category h3 {
    color: var(--text-content-title-category);
    font-family: var(--Raleway);
    font-size: 32px;
}

.section__title_category2 h3 {
    color: var(--text-content-title-category);
    font-size: 32px;
    height: 40px;
    margin: 0 820px 20px 0;
}

.section__see_category {
    color: var(--text-content-see-category);
    padding: 10px;
    width: 120px;
}

.section__see_category p {
    font-family: var(--Raleway);
    font-size: 17px;
}

.section__see_category-row {
    height: 25px;
    width: 25px;
}

.section__see_category p:hover, .section__see_category-row:hover {
    cursor: pointer;
    color: var(--text-content-hover2);
}

.section__products_product-description {
    cursor: pointer;
    overflow: hidden;
    margin-right: 10px;
    transition: 450ms all;
    transform-origin: center left;
}

.section__products_product-description img {
    border-radius: 15px;
    cursor: pointer;
    height: 180px;
    object-fit: fill;
    width: 180px;
}

.section__products_category:hover .section__products_product-description {
    opacity: 0.3;
}

.section__products_category:hover .section__products_product-description:hover {
    transform: scale(1.1);
    opacity: 1;
}

.section__products_product-description:hover ~ .section__products_product-description {
    transform: translate3d(20px, 0, 0);
}

.section__product_name {
    color: var(--text-content-product-name);
    font-family: var(--Raleway);
    font-size: 14px;
    font-weight: 500;
    margin-top: 7px;
}

.section__product_price {
    color: var(--text-content-product-price);
    font-family: var(--Raleway);
    font-size: 17px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 5px;
}

.section__product_see-product {
    color: var(--text-content-product-see);
    cursor: pointer;
    font-family: var(--Raleway);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.section__product_see-product:hover {
    color: var(--text-content-hover2);
}

/* Styles for Cookie Alert */
.cookie {
    background: lightgrey;
    border: 2px solid black;
    height: 90px;
    position: sticky;
    bottom: 0px;
    z-index: 1;
}

.cookie__alert {
    height: 70px;
    width: 70px;
    margin: 10px 0px 8px 30px;
}

.cookie__text {
    font-family: var(--Raleway);
}

.cookie__text p {
    font-size: 18px;
    margin: 10px 0px 0px 0px;
    width: 1200px;
}

.cookie__text p a {
    color: var(--text-content-link-cookie);
}

.cookie__text p a:hover {
    cursor: pointer;
    color: var(--text-content-hover1);
}

.cookie__button {
    border: 3px solid black;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.959);
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    margin-right: 30px;
    text-align: center;
    width: 110px;
}

.cookie__button:hover {
    background-color: var(--background-logo);
    color: var(--text-links-nav);
}


/*MediaQuerie Aplicable for screens of Tablets like Ipad 768x1024*/
@media screen and (max-width:768px) {
    .section__container_category {
        margin: 50px 10px 0px 30px;
        width: 700px;
    }

    .section__title_category {
        width: 700px;
    }

    .section__see_category {
        margin-left: 300px !important;
    }

    .section__products_category {
        margin: 10px 0px 60px 0px;
        padding: 0;
        width: 700px;
    }

    .section__products_product-description img {
        height: 174px;
        width: 164px;
        margin: 0;
        padding: 0;
    }

    .hidde-product {
        display: none;
    }

    .cookie {
        height: 100px;
    }
    
    .cookie__text p {
        font-size: 14px;
        margin: 10px 1px 10px 1px;
    }
}


/*MediaQuerie Aplicable for screens of Smartphones like IphoneX 375x812*/
@media screen and (min-width: 375px) and (max-device-width : 465px) {
    .section__container_category {
        margin: 0 10px;
        width: 350px !important;
    }

    .section__title_category {
        width: 350px;
    }

    .section__see_category {
        margin-left: 50px !important;
    }

    .section__products_category {
        justify-content: start !important;
        width: 350px !important;
    }
    
    .hidde-product-smph {
        display: none;
    }
}


