body {
    background-color: var(--background-main);
    font-family: var(--Raleway);
}

.main__admin-products {
    margin-top: 80px;
}

.container__table-principal p {
    font-size: 24px;
    font-weight: 500;
}

.table__product_image {
    height: 100px;
    width: 100px;
}

.table__product_description {
    width: 230px;
}

.table__product_td_buttons {
    height: auto;
}

.table__product_button {
    margin-right: 5px;
}

.table__favorite_products_headers, .table__past_products_headers {
    text-align: center;
}

.table__general_products {
    margin-top: 40px;
}

.table__past_products {
    width: 50%;
}

/*MediaQuerie Aplicable para pantallas de Tablet Tipo Ipad 768x1024*/
@media screen and (max-width:768px) {
    .container__principal {
        margin: 0 10px 0 10px;
    }

    .container__table-principal {
        align-items: center;
        margin-bottom: 40px;
        width: 700px;
    }

    .table__favorites {
        margin-bottom: 20px;
    }

    .table__favorite_products-title {
        margin: 0;
    }

    .table__general_products {
        margin-bottom: 20px;
    }

    .table__general_products-title {
        margin-bottom: -30px;
    }

    .table__past_products {
        align-items: center;
        margin: 0; 
        width: 100%;
    }
}


