footer {
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.footer__container_elements {
    background-color: var(--background-content);
    display: flex;
    flex-direction: row;
    height: 380px;
    justify-content: space-around;
    width: 100%;
}

.footer__elements_logo {
    margin-top: 40px;
}

.footer__elements_logo img {
    height: 80px;
    width: 176px;
    object-fit: contain;
    margin-left: 120px;
}

.footer__elements_faq {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.footer__elements_faq a {
    color: var(--text-content-footer);
    cursor: pointer;
    font-family: var(--Raleway);
    font-size: 16px;
    margin-bottom: 15px;
    text-decoration: none;
}

.footer__elements_faq a:hover {
    color: var(--text-content-hover1);
    font-weight: 600;
}

.footer__elements_contact_us {
    margin-top: 60px;
    margin-right: 120px;
    width: 565px;
}   

.footer__label_contact_us {
    color: var(--text-content-footer);
    font-family: var(--Raleway);
    font-weight: bold;
}

.footer__input_contact_us {
    font-family: var(--Raleway);
    font-size: 16px;
}

.footer__textarea_contact_us {
    font-family: var(--Raleway);
    font-size: 16px;
    resize: none;
}

.footer__button_contact_us {
    border-radius: 0;
    height: 50px;
    padding: 10px;
    text-align: center;
    width: 130px;
}

.footer__button_contact_us:hover {
    background-color: var(--background-hover-button);
    border: 2px solid var(--text-content-hover1);
    color: var(--text-content-hover1);
    font-weight: 500;
}

.footer__created_by {
    align-items: center;
    background-color: var(--background-footer);
    display: flex;
    flex-direction: column;
    height: 80px;
}

.footer__created_by a {
    color: var(--text-content-footer);
    font-family: var(--Raleway);
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    text-decoration: none;
}

.footer__created_by a:hover {
    color: var(--text-content-hover2);
}

.footer__created_by p {
    font-family: var(--Raleway);
    font-size: 16px;
    font-weight: bold;
    margin-top: -25px;
}

/*MediaQuerie Aplicable para pantallas de Tablet Tipo Ipad 768x1024*/
@media screen and (max-width:768px) {
    .footer__container_elements {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 30px;
    }

    .footer__elements_logo {
        margin: 80px 0 0 0;
    }

    .footer__elements_logo img {
        margin: 0 0 0 30px;
    }

    .footer__elements_faq {
        margin: 0 0 100px 30px;
    }

    .footer__elements_contact_us {
        margin: 0;
        width: 58%;
        position: absolute;
        left: 300px ;
        bottom: 80px;
    }

    .footer__button_contact_us {
        height: 45px;
        margin-left: 3px;
        width: 160px;
    }
}

@media screen and (max-width: 320px) {
    
}